body {
  font-family: Arial;
  width: 250px;
  text-align: center;
  padding: 10px;
}

input {
  padding: 6px;
  width: 90%;
}

button {
  margin-top: 5px;
  padding: 6px 10px;
  cursor: pointer;
}

li {
  list-style: none;
  background: #f1f1f1;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}